/* starts with an element to select, key value pairs for speicific element properties*/

body {
  padding: 20px;
  
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
}

.SDSU {
  width: 100px;
}

.UCLA {
  width: 100px;
  height: 50px;
}